import React from "react";
import style from "./{{lowerCase componentName}}.scss";

const {{componentName}} = () => (
	<p className={style.main}>{{componentName}}</p>
);

export default {{componentName}};