import React from "react";
import "{{lowerCase componentName}}.css";

const {{componentName}} = () => <p className="{{lowerCase componentName}}-component">Habak</p>

export default {{componentName}};
